.calculadora {
    width: 200px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: gray;
}

.tela {
    font-size: 24px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: gainsboro;
}

.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

}

button {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

.clear {
    grid-column: span 2;
}